.keyboerd {
    border: 1px solid slategray;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    width: 700px;
    
}

.line::after{
        content: "";
        display: block;
        clear: both;

}

.key{
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slateblue;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}
.key:hover{
    color: aliceblue;
    background-color: slategray;
    cursor: pointer;

}

.key_backspace{
    width: auto;
}

.TAB .CapsLock {
    width: 60px;

}
.L_Shift{
    width: 72px;
}
.R_Shift{
    width: 90px;
}

.l_crtl .r_ctrl{
    width: 69px;
}

.space{
    width: 248px;

}
.windows{
    width: 20px;
    padding-top: 5px;
}
.letter-key{
    font-size: 10px;
    line-height: 100%;

}